html{
	font-size: 62.5%;
	background-color:#5E6973;
}

body{
	margin: 0;
	font-family: "Playfair Display";
}

.wrapper{
	max-width: 1100px;
	margin: 0 auto;
	perspective: 1px;

}

header{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

nav{
	margin: 3em;
	
}

nav ul{
	list-style-type: none;
	display: flex;
	gap: 5em;
	margin: 0;
	
}

nav a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 1.2rem;
	position: relative;
	font-family: "Poppins";
	cursor: pointer;
	
}

.logo{
	cursor: pointer;
}

/* MAKING THE BUTTONS BRRR \/\/ */
nav ul li a.active:before{
	position: absolute;
	content:"";
	width: 40%;
	height: 1px;
	border-bottom: 1px solid white;
	bottom: 0;
}

nav ul li a:before{
	position: absolute;
	content:"";
	width: 0%;
	height: 1px;
	border-bottom: 1px solid rgb(170, 170, 170);
	bottom: 0;
	transition: width .3s;
}

nav ul li a:hover:before{
	width: 40%;
}
/* MAKING THE BUTTONS BRRR /\/\ */


.paragraph1{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	color:white;
	max-width:80em;
}

.index-par1{
	font-size: 2rem;
}

.title-options{
	display: flex;
 	flex-direction: column;
 	align-items: center;
  	justify-content: center;
  	gap: 3em;

}

.title-options-index{
	display: flex;
 	flex-direction: column;
 	align-items: left;
  	justify-content: left;
  	gap: 3em;

}

.hidden{
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
}

.show{
	opacity: 1;
	filter: blur(0px);
	transform: translateX(0);
	transition: all 1s;
}

.options{
	display: flex;
	gap: 5em;
	user-select: none;
}



.plm{
	width: 7.2em;
	height: auto;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.plm2{
	width: 15em;
	height: auto;
	position: absolute;
	top: -28px;
	left: 50%;
	transform: translateX(-50%);
}

.plm3{
	width: 7.5em;
	height: auto;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.plm4{
	padding-left: 2em;
	width: 12em;
	height: auto;
	position: absolute;
	top: 65px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	color: white;
	font-size: 3rem;
	margin-right: 5;
}

.option-1{
	width: 25em;
	height: 25em;
	background-color: #182C35;
	border-radius: 2em;
	transition-delay: 0.2s;
	position: relative;
	display: grid;
	place-items: center;
	z-index: 3;
	border: 1.5px solid #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 1);

}

.option-2{
	width: 25em;
	height: 25em;
	transition-delay: 0.4s;
	background-color: #182C35;
	border-radius: 2em;
	position: relative;
	display: grid;
	place-items: center;
	z-index: 2;
	border: 1.5px solid #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 1);

}

.option-3{
	width: 25em;
	height: 25em;
	transition-delay: 0.5s;
	background-color: #182C35;
	border-radius: 2em;
	position: relative;
	display: grid;
	place-items: center;
	z-index: 1;
	border: 1.5px solid #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
}

.option-4{
	width: 25em;
	height: 25em;
	transition-delay: 0.7s;
	position: relative;
	display: grid;
	place-items: center;
	z-index: 0;
}
.serv-but1{
	color: white;
	font-size: 2rem;
	margin: 0;
	background-color:#374156;
	border-radius: 0.5em;
	padding: 0.3em 1em;
	cursor: pointer;
	border: none;

}
.serv-but2{
	color: white;
	font-size: 2rem;
	margin: 0;
	background-color:#374156;
	border-radius: 0.5em;
	padding: 0.3em 1em;
	cursor: pointer;
	border: none;
	z-index: 0;

}
.serv-but3{
	color: white;
	font-size: 2rem;
	margin: 0;
	background-color:#374156;
	border-radius: 0.5em;
	padding: 0.3em 1em;
	cursor: pointer;
	border: none;
	z-index: 0;

}

.serv-but1:hover{
	background-color:#4c5975;
	transition: all 0.5s;

}
.serv-but2:hover{
	background-color:#4c5975;
	transition: all 0.5s;

}
.serv-but3:hover{
	background-color:#4c5975;
	transition: all 0.5s;

}




.title1{
	margin-bottom: 2rem;
	display: flex;
  	justify-content: left;
  	align-items: flex-start;
  	height: 100%;
	font-size:5.5rem;
	text-decoration: underline;
	margin-bottom:0;
	margin-top:1em;
	
}

.hero-button{
	cursor: pointer;
	
	
}

.hero-button .contact-us::after {
    content: "  ▷";
    position: absolute;
    right: 1.4em;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.7s;
}

.hero-button .contact-us:hover{
	background-color:#4c5975;
	transition: all 0.5s;
}

.hero-button .contact-us:hover::after {
    right: 0.4em;
    opacity: 1;
}

.hero-button .learn-more::after {
    content: "  →";
    position: absolute;
    right: 0em;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.5s;
    color:#d9d9d9;
}

.hero-button .learn-more:hover{
	transition: all 0.5s;
	color: #d9d9d9;

}

.hero-button .learn-more:hover::after {
    right: -1em;
    opacity: 1;
    color: #d9d9d9;
}





.THEWRAPPER{
	background-image: url('../media/background.jpg');
	background-size: cover;
   	background-attachment: fixed;
	height: 100vh;
	overflow-x: hidden;
	position: relative;
	


}

.THEWRAPPER::before{
	content: '';
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
 	backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
 	height: 170%;
}

*{
	position: relative;

}

/* second page */
.THEWRAPPER2{
	background-image: url('../media/contact-background.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 130vh;
	overflow-x: hidden;
}

.left-contact{
	color: white;
	max-width: 65em;
}

.contact-us-title{
	font-size: 5.5rem;
	text-decoration: underline;
}
.contact-us-text1{
	font-size:2rem;
	transition-delay: 200ms;
}
.email-button{
	color: white;
	text-decoration: none;
	background-color:#804d00;
	padding: .5em 2.5em;
	border-radius: 0.6em;
	font-size: 2rem;
	font-family: "Poppins";		
	margin-top: 1em;
	cursor: pointer;
	border: none;
}

.email-button:hover{
	background-color:#995c00;
	transition: all 0.5s;
}
.email{
	width: 15em;
	height: 1.5em;
	font-size: 3rem;
	margin-right: 1em;
	font-family: "Poppins";
	border-radius: 0.2em;
	color: #A9A9A9;
	
}
.input{
	display: flex;
	align-items: center;
	justify-content: center;
}

.about_us_text{
	color: white;
	font-family: "Playfair Display";
}

.about_us_title{
	font-size: 5.5rem;
	text-decoration: underline;
}

.about_us_p{
	font-size: 2.5rem;
	max-width: 90rem;
}

p a{
	color:white;
}

.para1{
	transition-delay: 200ms;
}
.para2{
	transition-delay: 300ms;
}
.para3{
	transition-delay: 400ms;
}
.para4{
	transition-delay: 500ms;
}

.lp1{
	transition-delay: 300ms;
}
.lp2{
	transition-delay: 400ms;
}
.lp3{
	transition-delay: 500ms;
}



.input{
	transition-delay: 600ms;
}

.learn-more{
	margin-left: 2em;
	text-decoration: underline;
	font-size:3rem;
	color: white;
	text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.contact-us{
	margin-left: 0em;
	background-color:#374156;
	font-size:3rem;
	text-decoration: none;
	color: white;
	border-radius: 3em;
	padding: 0.7em 1.4em;
}

.paragraph-service{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color:white;
	max-width:80em;

}

.title-service{
	margin-bottom: 2rem;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100%;
	font-size:5.5rem;
	text-decoration: underline;
	margin-bottom:0;
	margin-top:1em;
}

/*#container-to-show {
  display: none;
  position: absolute;
  top: -10%;
  left: 80%;
  width: 200px;
  height: 200px;
  background-color: #353445;
  z-index: 99;
}

#container-to-show2 {
  display: none;
  position: absolute;
  top: -10%;
  left: 80%;
  width: 200px;
  height: 200px;
  background-color:#353445;
  z-index:99;
}

#container-to-show3 {
  display: none;
  position: absolute;
  top: -10%;
  left: 80%;
  width: 200px;
  height: 200px;
  background-color: #353445;
  z-index:99;
}

.ig-par{
	color: white;
	text-align: center;
	font-size: 2rem;

}*/

.igtext{
	color: white;
	margin: 0;
	font-size: 2.2rem;
	text-align: center;
	line-height: 1.7em;
	font-weight: bold;
	margin-top: 2em;
	font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 768px) {
  .THEWRAPPER{
  	background-image: url('../media/background.jpg');
	background-size: cover;
   	background-attachment: fixed;
	height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	position: relative;
	display: grid;
  	justify-content: center;
  	justify-items: start;

  }

  .wrapper{
	max-width: 90vw;
	margin: 0 auto;
	perspective: 1px;
  }

  .title-options-index{
  	text-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
  }

  .title1{
  	font-size: 3.9rem;
  }

  .hero-button{
  	display: grid;
  	gap: 3em;


	}


  .logo{
  	transform: scale(0.5);
  }
  
  header{
  	font-size: 1px;
  	margin: 0;
  	display: flex;
  	align-items: center;
 	gap: 20em;
  	width:80vw;
  }

  nav{
  	left: -5rem;
  }


  nav ul{
  	gap: 16em;
  	display: flex;	

  }

  nav a{
  	font-size: 1rem;
  }

  .THEWRAPPER2{
  	height: 120vh;
  }

  .about_us_title{
  	font-size: 3.6rem;
  }

  .para1, .para2, .para3{
  	font-size: 1.7rem;
  }

  .contact-us-title{
  	font-size: 3.6rem;
  }

  .contact-us-text1{
  	font-size: 1.8rem;
  }

  .email{
  	width: 12em;
  	height: 1.5em;
  	font-size: 2.7rem;
  }

  .title-service{
  	font-size: 3.4rem;
  }

  .options{
  	display: grid;
  }

  .option-4{
  	height: 2em;
  }

  .hero-button a{
  	font-size: 2.5rem;
  }


  .hero-button .learn-more::after {
    content: "→";
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.5s;
    color:#d9d9d9;
}

.hero-button .learn-more:hover{
	transition: all 0.5s;
	color: #d9d9d9;

}

.hero-button .learn-more:hover::after {
    right:0.2em;
    opacity: 1;
    color: #d9d9d9;
}


  
}
